##Question: 1. Explain dimension reduction in machine learning.

Dimensonality reduction in machine learning is simply reducing the number of dimensions of the feature set. 

Eg- If the feature set is a dataset with a 200 columns (i.e features).In dimensionality reduction we try to reduce the number of columns to 20 or 30.

So in Dimensionality reduction we try to remove features which have more amount of noise and use only those features having less noise so that our model can have better predictions and accuracy.

We have two most popular techniques for dimensionality reduction

##1.PCA(Principal component Analysis) 

Eigen vectors are computed.Higher the eigenvalue, higher will be the variance along that eigenvector. Hence features with highest variance all only selected rest all the features are dropped

##2.Autoencoders

Autoencoders are Unsupervised Neural Network appraoch.Here the encoders compress the input(by reducing no of dimensions-dimensionality reduction) and decoders encode back by reconstructing the input.

###QUESTION: 2  How can you handle duplicate values in a dataset for a variable in Python using pandas? Suppose, you are given the following dataset: df = pd.read_csv('file.csv') This dataset has many duplicate values. You need to identify them and also remove them.

In [1]:
import pandas as pd

The pandas dataframe is used to read the CSV file named 'file.csv' and the dataframe is displayed

In [ ]:
df = pd.read_csv('file.csv')
df

Assuming that the CSV File contains this random duplicate data

In [2]:
df = pd.DataFrame({'brand': ['adidas', 'nike', 'adidas', 'puma', 'nike','bata','tommy'],
                   'type': ['shoe', 'dress', 'dress', 'shoe', 'blazer','bands','shoe'],
                   'rating': [4, 4, 3.5, 15, 5,2.4,5],
                   'country':['adidas', 'nike', 'adidas', 'puma', 'nike','bata','tommy'],
                   'address':[4, 4, 3.5, 15, 5,2.4,5]})

The below dataframe created in order to test my fuction. 

As we can see in the below dataframe i have duplicated the same values for country and address column, so in further analysis we have to identify the column names whcih have these duplicate values

In [3]:
df

    brand    type  rating country  address
0  adidas    shoe     4.0  adidas      4.0
1    nike   dress     4.0    nike      4.0
2  adidas   dress     3.5  adidas      3.5
3    puma    shoe    15.0    puma     15.0
4    nike  blazer     5.0    nike      5.0
5    bata   bands     2.4    bata      2.4
6   tommy    shoe     5.0   tommy      5.0

We have two main objectives in the given problem statement -

1. We need identify/find all the duplicate values in the given dataframe(df) 

2. We need to remove all the duplicate values in the given dataframe(df)

##1. Finding duplicate columns in a given dataframe(df)

Case -1 :To find duplicate columns we need to iterate over DataFrame columns and for every column the function searches if there are any column existing in DataFrame with same contents/values and returns a list

In [4]:
def dupcol(dataframe):
  dupcols = set()
# Iterate over all the columns in dataframe

  for x in range(dataframe.shape[1]):
    col = dataframe.iloc[:, x]                      # Select column at xth index.
    for y in range(x + 1, dataframe.shape[1]):      # Iterate over all the columns in DataFrame from (x+1)th index till end
       otherCol = dataframe.iloc[:, y]              # Select column at yth index.
       if col.equals(otherCol):              # Check if two columns at x and y index are equal
         dupcols.add(dataframe.columns.values[y]) 
  return list(dupcols)                       #functon returns duplicate columns in the form of list

Calling the above function and store it in variable Columnnames

In [5]:
Columnnames = dupcol(df)

Prints all the column names which have duplicates values in form of List

In [6]:
Columnnames

['address', 'country']

Now that we have got the names of all the columns having duplicate values we can now perform the second step

##2.We need to remove all the duplicate values in the given dataframe(df)

In [7]:
# 2.1 - Drop duplicate columns by calling the function

df = df.drop(columns= dupcol(df))

As you can see in the below dataframe the duplicate columns have been dropped by calling the function

In [8]:
df

    brand    type  rating
0  adidas    shoe     4.0
1    nike   dress     4.0
2  adidas   dress     3.5
3    puma    shoe    15.0
4    nike  blazer     5.0
5    bata   bands     2.4
6   tommy    shoe     5.0

In [ ]:
# 2.2 - If we want to drop duplicate columns by naming the column names specifically
df = df.drop_duplicates([subset='col_name1','col_name2'])

In [ ]:
# So if we want to remove duplicate values in one 1 column -
df = df.drop_duplicates(['column_name'])

In [ ]:
# So if we want to remove duplicate rows based on all columns in the dataset
df = df.drop_duplicates()